<!---<div class="container-fluid mt-5 about-style" id="feedbackid"> 
    <div class="roww">
        <div class="col-md-10 col-12 mx-auto">
            <h1 class="text-center main-heading">Our Feedback</h1>
            <p class="text-center sub-heading">Listen From our students</p>
            <div class="roww">
                        <div class="col-md-4">
                    <div class="boxi">
                        <div class="our-services settings">
                            <div class="icon">
                                <img src="https://i.imgur.com/6NKPrhO.png" alt="howrah">
                            </div>
                                <h4>Bijay</h4>
                                <p>best courses</p>
                                
                           </div>
                        </div>

                        </div>
                        
                        <div class="col-md-4">
                    <div class="boxi">
                        <div class="our-services settings">
                            <div class="icon">
                                <img src="https://i.imgur.com/6NKPrhO.png" alt="howrah">
                            </div>
                                <h4>Bijay</h4>
                                <p>best courses</p>
                                
                           </div>
                        </div>

                        </div>
                        
            
            </div>
        </div>
        </div>
        </div> -->

         
        <section class="feedback" id="feedbackid">
            <h1>Listen From Our Clients</h1>
            
            <div class="row">
                <div class="feedback-col">
                    <img src="image/feedback1.png">
                    <div >
                        <p>Just loved the interiors, and most important don't have to spend time for paperwok</p>
                        <h5>Priyanka Pandey</h5>
                        <ion-icon name="star"></ion-icon>
                        <ion-icon name="star"></ion-icon>
                        <ion-icon name="star"></ion-icon>
                        <ion-icon name="star"></ion-icon>
                        <ion-icon name="star"></ion-icon>
                        
                    </div>
                </div>
                <div class="feedback-col">
                    <img src="image/feedback2.png">
                    <div >
                        <p>How can buying a home is so afforable. They have great plans.</p>
                        <h5>Bijay Pandey</h5>
                        <ion-icon name="star"></ion-icon>
                        <ion-icon name="star"></ion-icon>
                        <ion-icon name="star"></ion-icon>
                        <ion-icon name="star"></ion-icon>
                        <ion-icon name="star-half"></ion-icon>
                        
                    </div>
                </div>
                <div class="feedback-col">
                    <img src="image/feedback3.png">
                    <div >
                        <p>I am traveller and I have to move from one city to another. Thanks for the online service.</p>
                        <h5>Ranjit Shaw</h5>
                        <ion-icon name="star"></ion-icon>
                        <ion-icon name="star"></ion-icon>
                        <ion-icon name="star"></ion-icon>
                        <ion-icon name="star"></ion-icon>
                        <ion-icon name="star-outline"></ion-icon>
                        
                        
                        
                    </div>
                </div>
            </div>
        </section>

