  <nav>
                <a href="/"><img src ="image/logo.png"></a>
                <div class="nav-links" id="navlinks">
                    <div class="ico">

                    <ion-icon name="close-circle-outline"   onclick="hideMenu()"></ion-icon></div>
                    <ul>
                      <li><a href="/">HOME</a>
                        <li><a href="/about">ABOUT</a>
                       <li><a href="/property">PROPERTY</a>
                        <li><a href="/service">SERVICE</a>
                        <li><a href="/contact">CONTACT</a>
                        </ul>
                        


                    </div>
                    <div class="ico">
                    <ion-icon name="reorder-three-outline"  onclick="showMenu()"></ion-icon></div>
                   <a href="/contact"><button type ="submit" id="first1" class="first">Register</button></a> &nbsp; &nbsp; &nbsp; &nbsp;&nbsp;&nbsp;&nbsp;
                   <a href="/login"><button type ="submit" id="first1" class="first" >Login</button></a>
            </nav>